:root {
  margin: 0;
  padding: 0;
}

#page {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 0px;
}

h3 {
  color: #e1624f;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}
img {
  border-radius: 28px;
}

p {
  color: #333333;
}
#page p {
  text-align: center;
}

#page div{
  border: solid #d9d9d9 1px;
  margin-top: 40px;
}

main {
  width: 1120px;
  margin: 64px auto;
}

section {
  margin-top: 64px;
}

section h2 {
  margin-top: 20px;
}

p + p {
  font-weight: bold;
}

#example-1 ul li, #example-2 ul li {
  color: #0c51a7;
}

#list-example-3 li:nth-child(1) {
  color: #591b98;
}

#list-example-3 li:nth-child(2) {
  color: #e5245e;
}

#list-example-3 li:nth-child(3) {
  color: #e95e10;
}

main div {
  border: solid #d9d9d9 1px;
  margin-top: 40px;
}
footer {
  width: 1120px;
  margin: 40px auto 0px;
}

footer p {
  text-align: center;
  margin-bottom: 65px;
}

footer p + p {
  font-weight: normal;
  line-height: 150%;
  font-family: "Alice", system-ui;
}

footer p + p img {
  vertical-align: middle;
}